.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .dashboard-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .navigate-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigate-button:hover {
    background-color: #0056b3;
  }
  