.header {
    display: flex;
    align-items: center; /* vertical alignment */
    padding: 0px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: fit-content;
    gap: 10px;

}

.header > div {
    justify-content: center;
}