.nav-button {
    font-size: 1.5em;
    margin-inline-start: 0.5em;
    padding: 10px;

    cursor: pointer;

    background-color: lightgrey;
    color: black;

    border: none;
    border-radius: 5px;

    transition-duration: .2s;
}

.nav-button:hover {
    background-color: darkgray;
}

.nav-button:active {
    background-color: darkgrey;
}

.active-nav-button {

    font-size: 1.5em;
    margin-inline-start: 0.5em;
    padding: 10px;

    cursor: pointer;

    color: black;

    border: none;
    border-radius: 5px;

    transition-duration: .2s;
    background-color: gray;
}
