.body {
    padding: 10px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 3fr 2fr;
    gap: 10px;
}

.grid-item {
    border: 1px solid black;
    border-radius: 5px;
    min-height: 300px;
}

.shake-map-container {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.bar-chart-container {

}

.table-container {
    
}