.body {
    padding: 10px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 3fr 2fr;
    gap: 10px;
}

.grid-item {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    min-height: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.grid-item > h3 {
    text-align: center;
}

.shake-map-container {
    grid-column: 2 /span 3;
    grid-row: 1 / span 2;
}

.bar-chart-container {
    grid-row: 3;
    grid-column: 1 / span 3;
}

.table-container {
    grid-row: 1;
    grid-column: 1
}

.heatmap-container {
    grid-column: 1;
    grid-row: 2;
}